<form action="/cash/" method="post">
    <label>أدخل التفاصيل: </label>
    </br>
    <input id="username" type="text" name="user_name" placeholder="الاسم">
    <input id="cash_user" type="text" name="cash_user" placeholder="صندوق">
    <input id="date" type="date" name="date" required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" placeholder="التاريخ">
    
    <select name="period">
  		<option value="morning">صباحي</option>
  		<option value="evening">مسائي</option>
	</select>
    
    </br>
    </br>
    <label>تفاصيل العملات</label>
    </br>    
    
    <label>JOD</label> <input id="JOD" type="number" name="JOD" placeholder="0">
    <label id="200-value"> 0 </label>
  	</br>

 

  	<label>JOD2</label> <input id="JOD2" type="number" name="JOD2" placeholder="0">
    <label id="200-value"> 0 </label>
    </br>

 
    <label>USD</label> <input id="USD" type="number" name="USD" placeholder="0">
    <label id="200-value"> 0 </label>
    </br>

    <label>USD2</label> <input id="USD2" type="number" name="USD2" placeholder="0">
    <label id="200-value"> 0 </label>
    </br>

    <label>200</label> <input id="200" type="number" name="200" placeholder="0">
    <label id="200-value"> 0 </label>    
    </br>

    <label>100</label> <input id="100" type="number" name="100" placeholder="0">
    <label id="200-value"> 0 </label>
    </br>

    <label>50</label> <input id="50" type="number" name="50" placeholder="0">
    <label id="200-value"> 0 </label>
    </br>

    <label>20</label> <input id="20" type="number" name="20" placeholder="0">
    <label id="200-value"> 0 </label>
    </br>

    <label>10</label> <input id="10" type="number" name="10" placeholder="0">
    <label id="200-value"> 0 </label>
    </br>

    <label>5</label> <input id="5" type="number" name="5" placeholder="0">
    <label id="200-value"> 0 </label>
    </br>

    <label>2</label> <input id="2" type="number" name="2" placeholder="0">
    <label id="200-value"> 0 </label>
    </br>

    <label>1</label> <input id="1" type="number" name="1" placeholder="0">
    <label id="200-value"> 0 </label>
    </br>

    <label>0.5</label> <input id="0" type="number" name="0" placeholder="0">
    <label id="200-value"> 0 </label>

    </br>

    </br>
    <input type="submit" value="OK">
</form>

<% if(keptMoneyObj[1]){ %>
   <h1>foo</h1>
   <%- JSON.stringify(keptMoneyObj) %>
 <% } else{ %>  
   <h1>bar</h1>
   <%- JSON.stringify(keptMoneyObj) %>
<% } %>