body {
	background-color: orange;
	font-family: "Courier New";
}

h1 {
	font-weight: bold;
	text-align: center;
}

.value {
	width: 20%;
}

.value-min {
	width: 23%;
}


.lbl-init {
	margin-top: 5px;
	width: 20%;
}

.lbl {
	margin-top: 10px;
	width: 25%;
}

.lbl-conv {
	margin-top: 2px;
	width: 25%;
}



.total {
	font-weight: bold;
	text-align: center;
	background-color: white; 
	font-size: 15px;
	margin-top: 5px;
	margin-right: 32%;
	padding: 3px;
	float: right;
	border: 2px solid grey;
	border-radius: 15px;
	padding: 10px;
	width: 30%;
}


.tab {
	width:100%;
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
	border-bottom: 4px solid grey;
}

.left-border {
	border-left: 6px solid grey;
}

.align-right {
	margin-right: 22px;
	width:50%;
	float: right;
}